<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="TelemetryDashboard" Language="1033" Version="1.0.0.0" Manufacturer="EA Americas"
           UpgradeCode="6827879d-8349-4430-b2cb-02e094803c2e" Codepage="1252">
    <Package Platform="x64" InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" SummaryCodepage="1252" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="QRSKEY">
      <RegistrySearch Id="QlikSenseRepsitoryServiceRegistry"
                      Root="HKLM"
                      Key="System\CurrentControlSet\Services\QlikSenseRepositoryService"
                      Name="DisplayName"
                      Type="raw" />
    </Property>
    <Condition Message="The Telemetry Dashboard needs to be installed on a machine running Qlik Sense Enterprise.">
      <![CDATA[Installed OR QRSKEY]]>
    </Condition>

    <Feature Id="Complete" Title="Telemetry Dashboard" Description="Telemetry Dashboard and Metafetching scripts." ConfigurableDirectory="INSTALLFOLDER" Level="1">
      <ComponentRef Id="config.js_comp"/>
      <ComponentGroupRef Id="MainJSFiles" />
      <ComponentGroupRef Id="LibComponentGroup"/>
      <ComponentGroupRef Id="NodeModulesComponentGroup"/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <InstallExecuteSequence>
      <Custom Action='IsRepositoryRunningAction' Before='InstallFiles' />
      <Custom Action='RemoveTasksAction' Before='InstallFiles'>REMOVE="ALL"</Custom>
      <Custom Action='ImportAppAction' After='InstallFiles'>(NOT Installed) OR (REINSTALL) OR (UPGRADINGPRODUCTCODE)</Custom>
      <Custom Action='ImportExtensionsAction' After='InstallFiles'>(NOT Installed) OR (REINSTALL) OR (UPGRADINGPRODUCTCODE)</Custom>
      <Custom Action='SetInstallDirectoryAction' Before='CreateTasksAction'>(NOT Installed) OR (REINSTALL) OR (UPGRADINGPRODUCTCODE)</Custom>
      <Custom Action='CreateTasksAction' After='InstallFiles'>(NOT Installed) OR (REINSTALL) OR (UPGRADINGPRODUCTCODE)</Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="Qlik" Name="Qlik">
          <Directory Id="Sense" Name="Sense">
            <Directory Id="EAPowerTools" Name="EAPowerTools">
              <Directory Id="INSTALLFOLDER" Name="TelemetryDashboard" >
                <Directory Id="CONFIGFOLDER" Name="config" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainJSFiles" Directory="INSTALLFOLDER">
      <Component Id="INSTALLDIR_comp" Guid="3b90a8f3-ebb2-4fa7-b9cb-b5ce9da24a63" Win64="yes">
        <CreateFolder />
        <RemoveFile Id="RemoveFilesFromAppDirectory" Name="*.*" On="uninstall" />
      </Component>

      <Component Id="fetchMetadata.js_comp" Guid="b0dc5050-5885-493b-ba46-8f173591e1d6" Win64="yes">
        <File Source="$(var.ProjectDir)..\fetchMetadata.js" Id="fetchMetadataJS" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
    <Component Id="config.js_comp" Guid="19fb555e-896f-427d-913a-7a2fc248f0d3" Win64="yes" Directory="CONFIGFOLDER">
      <File Source="$(var.ProjectDir)..\config\config.js" Id="configJS" KeyPath="yes" />
    </Component>
  </Fragment>

</Wix>
